@charset 'utf-8';

@import url(./style-main.css);
@import url(./style-nav&footer.css);
@import url(../fonts/font.css);

* {
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0
}

dl,
li,
menu,
ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: black;
}

img {
  width: 100%;
}

.p-content-title-set {
  font-family: 'Noto Sans CJK KR Bold';
  color: #ff7d5f;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.p-content-subTitle-set {
  font-family: 'Noto Sans CJK KR Medium';
  font-size: 22px;
  font-weight: 500;
  color: #141414;
  letter-spacing: -1.1px;
  line-height: 1.36;
  margin: 10px 0;
}

.p-content-text-set {
  font-family: 'Noto Sans CJK KR Regular';
  font-size: 15px;
  color: #333;
  letter-spacing: -1.13px;
  line-height: 1.6;
  margin-top: 20px;
}

.video-wrap {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.video-wrap .awning {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}

.video-wrap .video-box {
  width: 900px;
  height: 560px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-wrap .video-box .cancel-ico {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../Images/bt_layer_close.png) no-repeat;
  background-size: 40px;
  position: absolute;
  top: -40px;
  right: 0px;
  cursor: pointer;
}

.video-wrap .video-box .content-box {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1234px) {

  .p-content-subTitle-set {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .p-content-text-set {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .video-wrap .video-box {
    width: 95%;
    height: 50vw;
  }
}