@charset 'utf-8';

.main-wrap {
    display: flow-root;
    width: 100%;
    background-color: white;
}

.mn-conf {
    display: flow-root;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 67px;
}

.mn-conf .img-box {
    position: sticky;
    float: left;
    top: 67px;
    left: 0;
    margin-left: -360px;
}

.mn-conf .img-box img {
    width: 100%;
}

.mn-conf .img-box img:last-child {
    display: none;
}

.mn-conf .cont-box {
    float: right;
    width: 613px;
}

.mn-conf .cont-box .title {
    font-family: 'Noto Sans CJK KR Medium';
    font-size: 18px;
    font-weight: bold;
    color: #ff7d5f;
    text-transform: uppercase;
    margin-top: 90px;
    letter-spacing: -0.9px;
}
.mn-conf .cont-box .subtitle {
    font-family: 'Noto Sans CJK KR Regular';
    font-size: 60px;
    color: #141414;
    letter-spacing: -3px;
    line-height: 1.17;
    margin: 30px 0 20px;
}

.mn-conf .cont-box .content {
    font-family: 'Noto Sans CJK KR Regular';
    font-size: 17px;
    line-height: 1.53;
    color: #141414;
}

.mn-conf .cont-box .plus-box {
    margin: 30px 0 70px;
    position: relative;
}

.mn-conf .cont-box .plus-box .line {
    display: inline-block;
    width: 420px;
    height: 1px;
    background-color: #ff7d5f;
    margin: 4px 0;
}

.mn-conf .cont-box .plus-box .more-box {
    display: inline-block;
}

.mn-conf .cont-box .plus-box .more-box .more,
.mn-conf .cont-box .plus-box .more-box .cir1,
.mn-conf .cont-box .plus-box .more-box .cir2 {
    display: inline-block;
    position: relative;
}

.mn-conf .cont-box .plus-box .more-box .more {
    font-size: 17px;
    color: #ff7d5f;
    font-weight: bold;
    background-color: white;
    z-index: 3;
}

.mn-conf .cont-box .plus-box .more-box .cir1 {
    width: 37px;
    height: 40px;
    border: 1px solid #ff7d5f;
    border-radius: 100%;
    margin: 0 0 -14px -26px;
    background-color: white;
    z-index: 2;
}

.mn-conf .cont-box .plus-box .more-box .cir2 {
    width: 37px;
    height: 40px;
    border: 1px solid #ff7d5f;
    border-radius: 100%;
    margin: 0 0 -14px -32px;
    background-color: #ff7d5f;
    z-index: 1;
}

.mn-conf .cont-box .grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 300px);
    gap: 30px;
}

.mn-conf .cont-box .grid-box div:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.mn-conf .cont-box .grid-box div img {
    width: 100%;
}

.mn-conf .cont-box .grid-box div img:nth-of-type(2) {
    display: none;
}

.mn-conf .cont-box .grid-box div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.mn-conf .cont-box .grid-box div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.mn-conf .cont-box .grid-box div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.mn-conf .cont-box .grid-box div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.mn-conf .cont-box .grid-box div:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.mn-story {
    position: relative;
    width: 100%;
    background: url(../Images/bg_gray.gif) center 0 no-repeat;
}

.mn-story .story-box {
    display: flow-root;
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.mn-story .story-box .cont-box {
    float: left;
}

.mn-story .story-box .cont-box .title {
    font-family: 'Noto Sans CJK KR Bold';
    font-size: 20px;
    font-weight: bold;
    color: #141414;
    margin-top: 70px;
}

.mn-story .story-box .cont-box .subTitle {
    font-family: 'Noto Sans CJK KR Medium';
    font-size: 38px;
    font-weight: 500;
    color: #141414;
    opacity: .9;
    margin-top: 30px;
}

.mn-story .story-box .cont-box .content {
    font-family: 'Noto Sans CJK KR Regular';
    font-size: 24px;
    color: #141414;
    opacity: .9;
    line-height: 1.54;
    margin-top: 20px;
}

.mn-story .story-box .cont-box .bio-name {
    font-family: 'Noto Sans CJK KR DemiLight';
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #141414;
    opacity: .6;
    margin: 80px 0 65px;
}

.mn-story .story-box .img-box {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.mn-story .story-box .img-box img {
    position: relative;
}

.mn-watch {
    width: 100%;
    background-color: #19191a;
}

.mn-watch .watch-box {
    display: flow-root;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mn-watch .watch-box .subject {
    font-family: 'Noto Sans CJK KR Bold';
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    margin: 68px 0 30px;
}

.mn-watch .watch-box .video-box {
    display: flow-root;
}

.mn-watch .watch-box .video-box .l-box {
    position: relative;
    float: left;
}

.mn-watch .watch-box .video-box .l-box img:last-child {
    position: absolute;
    left: 0;
    top: 0;
    padding: 152px 315px;
}

.mn-watch .watch-box .video-box .r-box {
    float: right;
    position: relative;
    width: 425px;
}

.mn-watch .watch-box .video-box .r-box li:nth-of-type(2) {
    margin: 25px 0;
}

.mn-watch .watch-box .video-box .r-box li{
    position: relative;
    display: flow-root;
}

.mn-watch .watch-box .video-box .r-box .cont-box {
    position: relative;
    float: left;
}

.mn-watch .watch-box .video-box .r-box .cont-box img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mn-watch .watch-box .video-box .r-box .info-box {
    float: right;
    width: 184px;
}

.mn-watch .watch-box .video-box .r-box .info-box .title {
    font-family: 'Noto Sans CJK KR Medium';
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 10px;
}

.mn-watch .watch-box .video-box .r-box .info-box .content {
    font-family: 'Noto Sans CJK KR Regular';
    opacity: .75;
    font-size: 12px;
    line-height: 1.33;
    color: #fff;
}

.mn-watch .watch-box > .title {
    font-family: 'Noto Sans CJK KR Regular';
    font-size: 20px;
    color: #f56957;
    margin-top: 60px;
}

.mn-watch .watch-box > .subTitle {
    font-family: 'Noto Sans CJK KR Bold';
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}

.mn-watch .watch-box > .content {
    font-family: 'Noto Sans CJK KR DemiLight';
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 80px;
}

.mn-watch .watch-box > .plusTap {
    font-family: 'Noto Sans CJK KR Regular';
    float: right;
    width: 259px;
    height: 65px;
    background-color: #ff7d5f;
    color: #fff;
    font-size: 22px;
    padding: 17px 22px 17px 34px;
}

.mn-people {
    display: flow-root;
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px 0;
}

.mn-people ul {
    text-align: center;
    margin-top: 40px;
}

.mn-people ul li {
    display: inline-block;
}

.mn-people ul:first-child li {
    display: inline-block;
    margin: 0 40px;
}

.mn-people ul:last-child {
    display: none;
}

.mn-comm {
    position: relative;
    width: 100%;
    background-color: #ff7d5f;
}

.mn-comm .comm-box {
    display: flow-root;
    max-width: 1200px;
    margin: 0 auto;
}

.mn-comm .comm-box .info-box {
    float: left;
}

.mn-comm .comm-box .info-box .title {
    font-family: 'Noto Sans CJK KR Medium';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.5px;
    color: #fff;
    margin: 45px 0 20px;
}

.mn-comm .comm-box .info-box .content {
    font-family: 'Noto Sans CJK KR Regular';
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -1.5px;
    color: #fff;
}

.mn-comm .comm-box .cont-box {
    float: right;
    padding: 47px 0;
}

.mn-comm .comm-box .cont-box .circle{
    width: 126px;
    height: 126px;
    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 10px 10px #ec684a;
}

.mn-comm .comm-box .cont-box .circle > span {
    font-family: 'Noto Sans CJK KR Bold';
    line-height: 8;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.9px;
    line-height: 126px;
    color: #ff7d5f;
}

.mn-gallery {
    overflow: hidden;
    max-width: 1920px;
    margin: 35px auto;
}

.mn-gallery .gallery-box {
    display: flow-root;
    width: 300%;
}

.mn-gallery .gallery-box ul {
    display: flow-root;
}

.mn-gallery .gallery-box ul li{
    float: left;
    width: calc(100%/3);
}

.mn-gallery .gallery-box ul li img {
    width: 100%;
}

.mn-gallery .gallery-box ul li img:last-child {
    display: none;
}

.mn-sit-info {
    max-width: 1200px;
    margin: -10px auto 100px;
}

.mn-sit-info .slider{
    position: relative;
}

.mn-sit-info .slider > div {
    display: inline-block;
}

.mn-sit-info .slider .ico {
    width: 72px;
    height: 72px;
    background-color: #ff7d5f;
    border-radius: 100%;
}

.mn-sit-info .slider .ico span:first-child{
    display: block;
    width: 20px;
    height: 20px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 26px;
    left: 28px;
}

.mn-sit-info .slider .ico span:last-child {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 6.5px;
    left: 21px;
}

.mn-sit-info .slider .ico-mb {
    display: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ff7d5f;
    border-radius: 100%;
    padding: 3px 3px;
    position: absolute;
    left: -10px;
    top: 5px;
}

.mn-sit-info .slider div:nth-of-type(3) {
    display: none;
}

.mn-sit-info .slider .year-box {
    position: relative;
    bottom: 10px;
    margin-left: 330px;
}

.mn-sit-info .slider > div .dot {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ff7d5f;
    border-radius: 100%;
    margin: 0 15px;
}

.mn-sit-info .slider .ico-mb span {
    margin: 0;
}

.mn-sit-info .slider .year-box .year{
    font-family: 'Noto Sans CJK KR Regular';
    display: block;
    width: 40px;
    font-size: 18px;
    color: #141414;
    text-align: center;
}

.mn-sit-info .slider .line {
    width: 1110px;
    height: 1px;
    background-color: #ff7d5f;
    position: absolute;
    left: 70px;
    top: 36px;
}

.mn-sit-info > .title {
    font-family: 'Noto Sans CJK KR Bold';
    font-size: 38px;
    font-weight: bold;
    color: #141414;
    margin: 90px 0;
}

.mn-sit-info > .cont-wrap {
    display: flow-root;
}

.mn-sit-info > .cont-wrap div:first-child span:first-child {
    background: url(../Images/conference-icon.png);
}

.mn-sit-info > .cont-wrap div:nth-child(2) span:first-child {
    background: url(../Images/project-icon.png);
}

.mn-sit-info > .cont-wrap div:last-child span:first-child {
    background: url(../Images/magazine-icon.png);
}

.mn-sit-info > .cont-wrap .cont-box {
    float: left;
    padding-right: 129px;
    position: relative;
}

.mn-sit-info > .cont-wrap .cont-box .ico {
    display: block;
    width: 82px;
    height: 82px;
}

.mn-sit-info > .cont-wrap .cont-box .title {
    font-family: 'Noto Sans CJK KR Medium';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: #1e1e1e;
    margin: 25px 0 10px;
}

.mn-sit-info > .cont-wrap .cont-box .subTitle {
    font-family: 'Noto Sans CJK KR DemiLight';
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.09px;
    line-height: 1.6;
    color: #1e1e1e;
}

.mn-sit-info > .cont-wrap .cont-box .more {
    font-family: 'Noto Sans CJK KR Medium';
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.09px;
    color: #1e1e1e;
    border-bottom: 2px solid #ff7d5f;
    width: 36px;
    margin-top: 50px;
}

.mn-sit-info > .cont-wrap .cont-box .line {
    width: 1px;
    height: 288px;
    background-color: #d8d8d8;
    position: absolute;
    top: 0;
    right: 50px;
}

@media screen and (max-width: 1940px) {

    .mn-conf .img-box img{
        width: 43.5vw;
    }
}

@media screen and (max-width: 1234px) {

    .mn-conf .img-box {
        width: 100%;
        margin: 0;
        position: static;
    }

    .mn-conf .img-box img {
        width: 100%;
    }

    .mn-conf .img-box img:first-child {
        display: none;
    }

    .mn-conf .img-box img:last-child {
        display: inline;
    }

    .mn-conf .cont-box {
        width: 100%;
        padding: 30px 20px 0;
    }

    .mn-conf .cont-box .title {
        margin: 15px 0 10px;
        font-size: 12px;
    }

    .mn-conf .cont-box .subtitle {
        font-size: 25px;
        margin-top: 0;
    }

    .mn-conf .cont-box .content {
        font-size: 15px;
    }

    .mn-conf .cont-box .plus-box .line {
        width: 100%;
    }

    .mn-conf .cont-box .plus-box .more-box {
        position: absolute;
        right: 0;
        top: -16px;
    }

    .mn-conf .cont-box .plus-box .more-box .more {
        font-size: 14px;
    }

    .mn-conf .cont-box .grid-box {
        display: block;
    }

    .mn-conf .cont-box .grid-box div img:nth-of-type(1) {
        display: none;
    }

    .mn-conf .cont-box .grid-box div img:nth-of-type(2) {
        display: inline;
        width: 100%;
    }

    .mn-story {
        height: 200px;
        background: #f4f4f4 url(../Images/bg_mb_gray.gif) 100% 0 no-repeat;
    }

    .mn-story .story-box {
        height: 100%;
        padding: 0 20px;
    }

    .mn-story .story-box .cont-box {
        width: 65%;
    }

    .mn-story .story-box .cont-box .title {
        font-size: 12px;
        margin-top: 20px;
    }

    .mn-story .story-box .cont-box .subTitle {
        font-size: 20px;
        margin-top: 20px;
    }

    .mn-story .story-box .cont-box .content {
        display: none;
        font-size: 15px;
        overflow: auto;
        max-height: 80px;
    }

    .mn-story .story-box .cont-box .bio-name {
        font-size: 12px;
        position: absolute;
        bottom: 35px;
        margin: 0;
    }

    .mn-story .story-box .img-box {
        width: 35%;
        height: 100%;
    }

    .mn-story .story-box .img-box img{
        height: 90%;
        position: absolute;
        right: 20px;
        bottom: 0;
    }

    .mn-watch .watch-box {
        padding: 30px 20px 0;
    }

    .mn-watch .watch-box .subject {
        font-size: 23px;
        margin: 15px 0 10px;
    }

    .mn-watch .watch-box .video-box .l-box,
    .mn-watch .watch-box .video-box .l-box img:first-child {
        width: 100%;
    }

    .mn-watch .watch-box .video-box .l-box img:last-child {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
    }

    .mn-watch .watch-box .video-box .r-box {
        float: left;
        width: 331px;
        margin-top: 40px;
    }

    .mn-watch .watch-box .video-box .r-box .cont-box {
        width: 140px;
    }

    .mn-watch .watch-box .video-box .r-box .cont-box img:first-child{
        width: 100%
    }

    .mn-watch .watch-box .video-box .r-box .info-box .title {
        font-size: 15px;
    }

    .mn-watch .watch-box > .title {
        font-size: 12px;
    }

    .mn-watch .watch-box > .subTitle,
    .mn-watch .watch-box > .content {
        font-size: 20px;
    }

    .mn-watch .watch-box > .plusTap {
        font-size: 14px;
        width: 180px;
        height: 56px;
        padding: 17px 21px 10px 28px;
    }

    .mn-people {
        padding: 0;
        margin: 30px 0;
    }

    .mn-people ul:first-child li:nth-child(2),
    .mn-people ul:first-child li:last-child {
        display: none;
    }

    .mn-people ul:last-child {
        display: block;
        margin-top: 80px;
    }

    .mn-people ul:last-child li{
        display: inline-block;
        background-color: #d6d6d6;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin: 0 3px;
    }

    .mn-comm .comm-box {
        padding: 0 20px;
    }

    .mn-comm .comm-box .info-box {
        padding: 0;
        width: 70%;
    }

    .mn-comm .comm-box .info-box .title,
    .mn-comm .comm-box .info-box .content {
        font-size: 20px;
        margin: 20px 0;
    }

    .mn-comm .comm-box .info-box .content {
        font-size: 13px;
    }

    .mn-comm .comm-box .cont-box {
        padding: 0;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .mn-comm .comm-box .cont-box .circle {
        width: 100px;
        height: 100px;
    }

    .mn-comm .comm-box .cont-box .circle > span {
        font-size: 16px;
        line-height: 105px;
    }

    .mn-gallery {
        margin-top: 5px;
    }

    .mn-gallery .gallery-box ul li img:first-child {
        display: none;
    }

    .mn-gallery .gallery-box ul li img:last-child {
        display: inline;
    }

    .mn-sit-info {
        margin-bottom: 0;
    }

    .mn-sit-info .slider {
        margin: 0 10%;
    }

    .mn-sit-info .slider div:first-child {
        display: none;
    }

    .mn-sit-info .slider div:nth-of-type(3) {
        display: inline-block;
        left: -20px;
    }

    .mn-sit-info .slider div:nth-of-type(4) {
        position: absolute;
        left: 33%;
        transform: translateX(-50%);
    }

    .mn-sit-info .slider div:nth-of-type(5) {
        position: absolute;
        left: 66%;
        transform: translateX(-50%);
    }

    .mn-sit-info .slider div:nth-of-type(6) {
        position: absolute;
        right: -20px;
    }

    .mn-sit-info .slider .ico-mb {
        display: inline-block;
    }

    .mn-sit-info .slider .year-box {
        margin: 0;
        top: 11px;
    }

    .mn-sit-info .slider .year-box .year{
        font-size: 14px;
        margin-top: 2px;
    }

    .mn-sit-info .slider .line {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .mn-sit-info > .title {
        margin-bottom: 30px;
        padding: 0 20px;
        margin-top: 30px;
        font-size: 30px;
    }

    .mn-sit-info > .cont-wrap {
        padding: 0 20px;
    }

    .mn-sit-info > .cont-wrap .cont-box{
        margin-bottom: 80px;
        width: 100%;
    }

    .mn-sit-info > .cont-wrap .cont-box .more {
        margin-top: 20px;
    }

    .mn-sit-info > .cont-wrap .cont-box .line {
        height: 1px;
        width: 100%;
        bottom: -40px;
        top: auto;
        left: 0;
    }
}